<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Hospital Resources</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/resources">Hospital Resources</a>
            <a href="/cases">COVID-19 Cases</a>
        </nav>
    </header>
    <main>
        <h2>Available Resources</h2>
        <p>Details about hospital resources will go here.</p>
    </main>
</body>
</html>
